html, body {
	font-family: "Helvetica" !important;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}
.container-fluid {
	padding-right: 40px;
	padding-left: 40px;
}
.row {
	margin-right: -40px;
	margin-left: -40px;
}
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11,
.col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 40px;
	padding-left: 40px;
}
#info>.row>div {
	margin-bottom: 30px;
}
#description {
	font-weight: 600;
	margin-bottom: 50px !important;
	line-height: 32px;
	letter-spacing: 0.2px;
}
#contact {
	font-size: 12px;
}
span.choose {
	font-size: 20px;
}
a, a:hover {
	color: #FF6F00;
	font-size: 20px;
}
.btn,
.btn:focus {
	background-color: #FF6F00;
	margin: 5px 10px 5px 0px;
	padding: 5px 12px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-radius: 0px;
}
.btn:hover {
	color: white;
	background-color: #E4720B;
}
#preferences {
	min-height: 0;
	z-index: 100;
}
div.vertical-text-content {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	left: -43px;
	top: 83px;
	position: absolute;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size:20px;
	width: 196px;
	height: 30px;
	background: #FF6F00;
	text-align: center;
	padding-top: 2px;
}
.input-group {
	border: 1px solid #FF6F00;
	border-bottom: 0;
}
#postfix {
	padding-left: 1px;
}
#postfix .input-group {
	border-left: 0;
}
#numbers .input-group {
	border-bottom: 1px solid #FF6F00;
}
.input-group-addon {
	padding: 6px 12px 6px 42px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	color: black;
	text-align: center;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 0px;
}
.form-control {
	height: 38px;
	font-size: 16px;
	color: black;
	background-color: #fff;
	background-image: none;
	border: 0px solid transparent;
	border-radius: 0px;
}
#prefix {
	padding-right: 0;
}
#postfix {
	padding-left: 0;
}
#postfix .input-group-addon {
	padding-left: 12px;
}
h1 {
	font-weight: 600;
	font-family: Helvetica;
	font-size: 46px;
	color: white;
}
#title {
	margin: 40px 0px;
	background-color: #FF6F00;
	max-width: 820px;
}
#empty {
	height: 40px;
	border: 1px solid #FF6F00;
	padding: 0;
	/*margin-right: 1px;*/
	border-top: 0;
}
.input-group > button {
	float: right;
	width: 60px;
}
button.selectable,
button.selectable:focus {
	margin: 0 5px;
	border: 1px solid #FF6F00;
	border-top: 0;
	border-bottom: 0;
	color: #FF6F00;
	background: white;
}
button.selectable.selected {
	color: white;
	background: #FF6F00;
}
button.switch {
	margin-left: 0px !important;
}
input[type="text"] {
	padding-left: 0px !important;
}
#language
	margin: 30px 0;
	font-size: 20px;
	font-weight: bold;
}
#language button {
	border: 1px solid #FF6F00;
	width: 100px;
}
#insert-json {
	min-height: 0;
	z-index: 100;
}
#json > .input-group {
	width: 100%;
	padding: 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #FF6F00;
}
#json > .input-group > textarea {
	height: 320px;
	resize: none;
	font-size: 14px;
	color: #222;
	padding: 10px 20px 10px 40px !important;
}
#error {
	min-height: 0;
}
#error .alert-danger {
	color: #D0021B;
	background-color: rgba(208, 2, 27, 0.2);
	border-color: #D0021B;
	border-radius: 0;
}
#error .alert-dismissable .close {
	color: #D0021B;
	opacity: 0.6;
}

#output {
	margin: 30px 0;
}

pre {
	border: 1px solid #FF6F00 /*rgba(243, 119, 7, 0.5)*/;
	border-radius: 0;
	background: white;
}
pre code {
	white-space: inherit;
}

span.definition {
	color: rgb(207, 0, 160);
}

span.var {
	color: rgb(60, 130, 147);
}

span.type {
	color: rgb(127, 27, 171);
}

span.string {
	color: rgb(229, 0, 0);
}

span.comment {
	color: rgb(0, 116, 0);
}

.hidden {
	visibility: hidden;
}

button.float,
button.float:focus {
	position: absolute;
	z-index: 101;
	margin: 0;
}

button#clear-input {
	right: 50px;
}

button#close-output {
	width: 40px;
	right: 50px;
}

button#copy-output {
	/*
		Container margin: 40
		+ close button right: 10
		+ close button width: 40
		+ Spacing 10
	*/
	right: 100px;
}

a.secret {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

#separator {
	margin-bottom: 40px;
}
